.scroll-pane {
	-fx-background-color: #8AAAE5;
}


.scroll-pane {
	-fx-background-color: transparent;
}


.scroll-pane .viewport{
	-fx-background-color: transparent;
}


.scroll-pane .content{
	-fx-background-color: transparent;
}