.scroll-pane {
	-fx-background-color: eff8ff;
}


.scroll-pane {
	-fx-background-color: transparent;
}


.scroll-pane .viewport{
	-fx-background-color: transparent;
}


.scroll-pane .content{
	-fx-background-color: transparent;
}